@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Marko+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: #FBFBFF;
    font-family: 'Cairo', sans-serif;
}

body {
    margin: 0 auto;
    background-color: rgb(196, 181, 181);
    background-color: #23395B;
}

h1 {
    font-size: 4rem;
    text-align: center;
    padding-top: 1%;
    font-family: "Kanit";
    height: 10vh;
    width: 100%;
}

h4 {
    text-align: center;
}

header {
    background-color: #59C9A5;
    margin: 0 auto;
    margin-bottom: 4rem;
    
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 3px solid black; */
    padding: 3rem;
    margin: 2rem;
}

.grid-row {
    display: flex;
    flex-direction: row;
}

.chocolate {
    width: 10rem;
    height: 10rem;
    margin: 5rem 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center ;
    font-weight: bold;
    font-size: 2rem;
    color: black;
    
}
.chocolate:hover{
    transform: translateY(-10%);
}

.chocolate2 {
    background-color: #23395B;
    color: #23395B;
}
img {
    border-radius: 20px;
    width: 100%;
    height: auto;
    margin: auto;
    box-shadow: 10px 10px 10px grey;
    margin-bottom: 8px;
    width: 100%;
}

#SMAKE {
    color: #ffffff;
    background-color: #23395B;
    text-align: center;
}

.checkout{
    display: block;
    text-align: center;
    color: white;
    width: max-content;
    font-size: 68px;
    margin: auto;
    border-radius: 13px;
    background-color: #59C9A5;
    padding: 0px 15px;
    letter-spacing: 5px;
}

label{
    display:block;
    border-top: 10px dashed #59C9A5;
    border-bottom: 10px dashed #59C9A5;
    width: 100vw;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 40px;
    margin-bottom: 5%;

}

#receipt li {
    font-size: 30px;
    list-style: none;
    background-color: white;
    color: black;
    padding-left: 15px;
    
}

#receipt {
    border: 15px solid #59C9A5;
    margin-left: 20px;
    width: 30%;
    border-radius: 10px;
    margin: auto;

}

.titleReceipt {
    text-align: center;
    text-decoration: underline;
}

.total{
    font-weight: bold;
}

.teamMembers, .teamMembers li{
    text-align: center;
    font-size: 2rem;
    list-style: none;
    padding-left: 2rem;
}

.teamMembers li:hover {
    text-shadow: 5px 5px  #eeb300;
}

a {
    text-decoration: none;
}

.enterCID {
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
}
#cid {
    font-size: 35px;
    width: 50%;
    color: black;
}
footer{
    background: rgba(89,201,165,1);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 5%, rgba(89,201,165,1) 50%, rgba(4,0,0,1) 95%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 5%, rgba(89,201,165,1) 50%, rgba(4,0,0,1) 95%);
    background: linear-gradient(90deg, rgba(0,0,0,1) 5%, rgba(89,201,165,1) 50%, rgba(4,0,0,1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#040000",GradientType=1);
    border-top: 2px solid #23395B;
    
}
h2{
    border-bottom: 5px solid black;
    font-family: 'Kanit';
 
}
#Lol {
    color: #59C9A5;
    background-color: #59C9A5;
    width: 4%;
    margin: auto;
}

